* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bigimg {
    height: 100vh;
    background: url(../image/defibank.jpeg);
    background-size: cover;
    /* cover sẽ đảm bảo hình lắp đầy màn hình  */
    background-position: right;
    align-items: center;
    /* align-items là cang dọc */
    display: flex;
    text-align: center;
    justify-content: center;
    /* cái này canh ngang */
    background-attachment: fixed;
    /* fixed là dù có di chuyển như nào chỉ có chỉ chuyển nền ko chuyển */
    font-size: 30px;
}
.bigimg>h1{
    color:white;
    position: relative;
    left:300px;
    top:100px;
    text-transform: uppercase;
        background-image: linear-gradient(-225deg,
                #e8e6f0 0%,
                #6d6df0 29%,
                #fefffe 67%,
                #368eeb 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


.smallimg {
    height: 100vh;
    background: url(../image/bluebackground.png);
    background-size: cover;
    /* cover sẽ đảm bảo hình lắp đầy màn hình  */
    background-position: right;
    align-items: center;
    /* align-items là cang dọc */
    display: flex;
    text-align: center;
    justify-content: center;
    /* cái này canh ngang */
    background-attachment: fixed;
    /* fixed là dù có di chuyển như nào chỉ có chỉ chuyển nền ko chuyển */
    font-size: 30px;
}

.folderimg {
    height: 100vh;
    background: url(../logo.png);
    background-size: cover;
    /* cover sẽ đảm bảo hình lắp đầy màn hình  */
    background-position: right;
    align-items: center;
    /* align-items là cang dọc */
    display: flex;
    text-align: center;
    justify-content: center;
    /* cái này canh ngang */
    background-attachment: scroll;
    /* fixed là dù có di chuyển như nào chỉ có chỉ chuyển nền ko chuyển */
    font-size: 30px;
}